.VaccineList_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.VaccineList_td, .VaccineList_th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.VaccineList_tr:nth-child(even) {
    background-color: #dddddd;
}
